:root{
    --darker_blue: #03045E;
    --dark_blue: #0077B6;
    --blue: #00B4D8;
    --mid_blue: #90E0EF;
    --light_blue: #CAF0F8;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--darker_blue);
}

hr{
    background-color: var(--darker_blue);
    height: 3px;
    border: none;
    border-radius: 5px;
}

/* General - botones */
.button{
    padding: .5rem;
    margin: .5rem;
    border-radius: 5px;
    border: none;
    background-color: var(--darker_blue);
    color: var(--mid_blue);
    transition: all .2s;
    font-size: .8rem;
    width: fit-content;
}

.button_highlighted{
    background-color: var(--dark_blue);
    box-shadow: 0 0 2px var(--darker_blue);
}

.button:active{
    box-shadow: 0 0 5px var(--darker_blue);
}


/* Overlay */
#overlay{
    width: 100vw;
    height: 100vh;
    background-color: var(--light_blue);
    opacity: 0;
    position: fixed;
    z-index: 2;
    transition: all .3s;
    visibility:visible
}

#overlay.display{
    opacity: .4;
}

/* Navbar */

#navbar{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: var(--dark_blue);
    top: 0;
    z-index: 3;
    transition: all .3s;
    box-shadow: 0 0 3px var(--darker_blue);
    border-right: 2px solid var(--darker_blue);
}

#navbar_toggle {
    position: absolute;
    border-bottom-right-radius: 10px;
    padding: .5rem;
    top: 0;
    left: 100%;
    background-color: var(--dark_blue);
    border: 2px solid var(--darker_blue);
    border-left: none;
    border-top: none;
    font-weight: bolder;
    color: var(--mid_blue);
}

#navbar > div:not(#navbar > div:nth-child(1)) {
    margin: 1rem;
}

.navbar_section{
    background-color: var(--mid_blue);
    border-radius: 5px;
    padding: .8rem;
    box-shadow: 0 0 5px var(--blue);
}


#user_info > small{
    display: block;
    text-align: end;
}

#user_info > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar_menu > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: start;
    align-items: center;
}

#navbar_menu > ul > li{
    display: inline-block;
    margin: .3rem;
    padding: .3rem;
    transition: all .2s;
    border-radius: 5px;
    font-size: .8rem;
}

#navbar_menu > ul > li:hover{
    transform: scale(1.1);
    background-color: var(--darker_blue);
    color: var(--mid_blue);
}

/* Login Modal */
#login_modal{
    width: 250px;
    height: auto;
    background: var(--mid_blue);
    border: 2px solid var(--darker_blue);
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#login_modal > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#login_modal > form > input, .modal_input{
    margin-bottom: .5rem;
    border: none;
    padding: .3rem;
}

#login_modal > form > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#login_modal input:not(input.button){
    height: 1.5rem;
    width: 100%;
    border-radius: 5px;
}

#login_close, #modal_close{
    position: absolute;
    width: fit-content;
    top: -10px;
    right: -10px;
    border: 2px solid var(--mid_blue);
}

/* Contenido del sitio */
#content{
    background-color: var(--darker_blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#content > .board {
    width: 95vw ;
    height: 90vh;
    background-color: var(--light_blue);
    border: 5px solid var(--dark_blue);
    padding: .8rem;
    margin: 1rem;
    position: relative;
    border-radius: 5px;
    overflow-y: scroll;
}

#content > .board > .board_column_wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#content > .board > .board_column_wrapper > .board_column{
    width: 100%;
    display: inline-block;
}

#content > .board > .board_column_wrapper > .board_column:nth-child(1){
    margin-right: 1rem;
}

.board_cell {
    margin-bottom: 1rem;
    background-color: var(--mid_blue);
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--dark_blue);
}

#game_zone > .game_area form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--dark_blue);
    border-radius: 5px;
    width: fit-content;
}

#game_zone > .game_area form > *{
    margin: .5rem;
}

#game_statistics{
    list-style: none;
    padding-left: 0;
}

/* Modal general */
#modal{
    max-width: 80vw;
    max-height: 80vh;
    min-width: 200px;
    min-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light_blue);
    border: 2px solid var(--dark_blue);
    border-radius: 5px;
    z-index: 3;
    padding: 1.2rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Group Creation */
.newTeam{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .3rem;
    margin: .5rem;
    border: 2px solid var(--darker_blue);
    background-color: var(--mid_blue);
    border-radius: 5px;
}

.newTeam > input{
    margin: .3rem;
}

.newTeam > input:nth-child(2){
    width: 30%;
}

#modal_content > div > .group_game{
    display: block;
    padding: .5rem;
    background: var(--dark_blue);
    border-radius: 5px;
    color: var(--light_blue);
}

#modal_content > div > .group_game[selected]{
    background: var(--darker_blue);
}

@media only screen and (max-width: 800px){

    #content > .board > .board_column_wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #content > .board > .board_column_wrapper > .board_column{
        width: auto;
    }
    
    #content > .board > .board_column_wrapper > .board_column:nth-child(1){
        margin-right: 0;
    }

    #game_zone > .game_area form{
        flex-direction: column-reverse;
        width: 100%;

    }

    .button{
        padding: .5rem;
        font-size: .9rem;

    }

    .newTeam{
        flex-direction: column;
    }

    .newTeam > input:nth-child(2){
        width: 50%;
    }
}